<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document test vuejs
    </title>
</head>
<body style="margin: 10% 20%;">
    <h1>Demo Vue learning</h1>
    <div id="app">
        <div>
            <h2>Component</h2>
            <oh-my-god v-bind:initial-num="100"></oh-my-god>
        </div>
        <hr>
        <div>
            <h2>Custom directive</h2>
            <p v-blink>Oh my god. Blink now</p>
        </div>
        <hr>
        <h2>Test Two way binding</h2>
            <input type="text" v-model="twoWaymodel"/>
            <p>value: {{ twoWaymodel }} </p>
        <hr>
        <h2>Test 01</h2>
        <ul>
            <li v-for="(rent, city) in averageRent">Avg rent at {{ city }} is {{ rent }}</li>
        </ul>

        <hr>
        <ul>
            <li v-for="rent in averageRent">Avg rent is {{ rent }}</li>
        </ul>

    </div>
    <script src="https://unpkg.com/vue"></script>
   <script>
       Vue.directive('blink', {
           bind(el) {
               let vis = true;

               setInterval(() => {
                   vis = !vis

                   el.style.visibility = vis ? 'visible' : 'hidden';
               }, 200)
           }
       });

       Vue.component('oh-my-god', {
           template: '<p> the number is: {{number}} </p>',
           props: {
               initialNum: {
                   type: Number,
                   required: true,
               }
           },
           data() {
               return {
                   number: this.initialNum
               }
           },

           mounted() {
            //    setInterval(() => {
            //        this.number++;
            //    }, 1000)
           }
       });

        new Vue({
        el: '#app',
        created() {

        },

        data: {
            averageRent: {
                london: 1000,
                newyork: 2000,
                vietnam: 3000
            },
            twoWaymodel: 'oh my god',
        }
    
    });
    </script>
</body>
</html>